#hangmanpic{
    border: 1px solid black;
    height: 500px;
    width: 500px;

}
#foundword{

    background: rgba(209, 203, 203, 0.795);
    
}
 /*https://www.youtube.com/watch?v=dQw4w9WgXcQ */ 
